{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block main %}" }}
	<h1>{{ entity }} edit</h1>

	{{ '{{ form_start(edit_form) }}' }}
		{{ '{{ form_widget(edit_form) }}' }}
		<input type="submit" value="Save changes" class="btn btn-primary" />
		<a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-link">Back to the list</a>
	{{ '{{ form_end(edit_form) }}' }}
{{ "{% endblock %}" }}
{% set hide_edit, hide_delete = true, false %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{% endblock body %}
