{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
	{% if 'new' in actions -%}
	<div class="row main-title">
		<div class="col-sm-8 col-md-9">
			<h1>{{ entity }} list</h1>
		</div>
		<div class="col-sm-4 col-md-3">
			<a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus"></i> Create a new entry</a>
		</div>
	</div>
	{%- else -%}
	<h1>{{ entity }} list</h1>
	{%- endif %}

	<table class="table table-striped">
		<thead>
			<tr>
			{%- for field, metadata in fields %}

				<th>{{ field|capitalize }}</th>

			{%- endfor %}

				<th><i class="fa fa-cogs"></i> Actions</th>
			</tr>
		</thead>
		<tbody>
		{{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
			<tr>

		{%- for field, metadata in fields %}
			{%- if loop.first and ('show' in actions) %}

				<td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

			{%- elseif metadata.type in ['datetime'] %}

				<td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

			{%- elseif metadata.type in ['date'] %}

				<td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

			{%- elseif metadata.type in ['time'] %}

				<td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

			{%- elseif metadata.type in ['array'] %}

				<td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

			{%- elseif metadata.type in ['boolean'] %}

				<td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

			{%- else %}

				<td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

			{%- endif %}

			{%- if loop.last %}

				<td>
					<div class="item-actions">

					{%- for action in record_actions %}

					{% set btn_class = (action == 'edit') ? 'primary' : 'default' %}
					<a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-sm btn-{{ btn_class }}">
						{%- if action == 'edit' -%}
							{{ '<i class="fa fa-edit"></i> ' | raw }}
						{%- endif -%}
						{{- action | capitalize -}}
					</a>

					{%- endfor %}

					</div>
				</td>

			{%- endif %}
		{%- endfor %}

			</tr>
		{{ '{% endfor %}' }}
		</tbody>
	</table>
{{ "{% endblock %}" }}
{% endblock body %}
