{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
	<h1>{{ entity }} creation</h1>

	{{ '{{ form_start(form) }}' }}
		{{ '{{ form_widget(form) }}' }}
		<input type="submit" value="Create" class="btn btn-primary" />
		<a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-link">Back to the list</a>
	{{ '{{ form_end(form) }}' }}
{{ "{% endblock %}" }}
{% endblock body %}
