
	{# Bootstrap modal, see http://getbootstrap.com/javascript/#modals #}
	<div class="modal fade" id="confirmationModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<h4>Are you sure you want to delete this entry&thinsp;?</h4>
						<p>This action cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
							{{- 'Cancel' -}}
						</button>
						<button type="button" class="btn btn-danger" id="btnYes" data-dismiss="modal">
							{{- 'Delete' -}}
						</button>
					</div>
				</div>
			</div>
		</div>
