{% if actions|length and (not hide_edit or not hide_delete) %}

{{ "{% block sidebar %}" }}
	{%- if ('edit' in actions) and (not hide_edit) %}

	<div class="section">
		<a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-lg btn-block btn-success"><i class="fa fa-edit"></i> Edit</a>
	</div>

	{%- endif %}

	{%- if ('delete' in actions) and (not hide_delete) %}

	<div class="section">

		{{- include('crud/views/others/_delete_post_confirmation.html.twig.twig') }}
		{{ '{{ form_start(delete_form, {\'attr\' : {\'data-confirmation\': \'true\'}}) }}' }}
			<input type="submit" value="Delete" class="btn btn-lg btn-block btn-danger">
		{{ '{{ form_end(delete_form) }}' }}
	</div>

	{%- endif %}

{{ "{% endblock %}" }}
{% endif %}
